<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
		<RollingFile name="All">
			<FileName>${sys:bluenimble.runtime}/logs/bluenimble.log</FileName>
			<FilePattern>${sys:bluenimble.runtime}/logs/bluenimble.%d{yyyy-MM-dd-hh-mm}.log.zip
			</FilePattern>
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%X{namespace}] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="Requests">
			<FileName>${sys:bluenimble.runtime}/logs/requests.log</FileName>
			<FilePattern>${sys:bluenimble.runtime}/logs/requests.%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%X{namespace}] [%X{request}] - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
    </Appenders>
    
    <Loggers>
		<Logger name="All" level="info" additivity="false">
			<AppenderRef ref="All"/>
	    </Logger>
        <Logger name="Requests" level="debug" additivity="false">
        	<AppenderRef ref="Requests"/>
	    </Logger>
	    <Root level="error">
			<AppenderRef ref="All"/>
	    </Root>
    </Loggers>
    
</Configuration>