[Unit]
Description=BlueNimble Platform
After=syslog.target
After=network.target
[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/bluenimble/platform/bn.sh
ExecStop=/opt/bluenimble/platform/bn.stop.sh
TimeoutSec=600
[Install]
WantedBy=multi-user.target